imageLabels.npy
images.npy
imagePairs.npy
TrainingData.zip
bestmodel2
bestmodel3
testimages
Flask-App/static/images
EGMcutouts
EGMimgs
neuralnets
imagesArea.npy
TrainingData
MobileNetV2
loggingfiles
neuralnets_stability
testcutouts
MatchEGM.pptx
~$MatchEGM.pptx
olrd runs
dockerimages/flaskmac.tar
dockerimages/flaskmac
organisatorisches/An das Prüfungsamt.docx
oldresults
realimgs
New correlations
christian
trainingimgs
trainingimgssmall
fast_soft_sort
trainingimgs_random
trainingimgs_random2
TEST.png
TEST2.png
MainNetDefinitionsOLD.py
Export_2021E244-06_02_2021-12-39-28
runs
runsbackup
ECGcutouts
